<!DOCTYPE html>
<html lang="en" ng-app ="myapp">
	<head>
		<meta charset="utf-8">
		<title>welcome</title>
		<link href="http://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" type="text/css">
		<link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
		<link rel = "stylesheet"  href="css/app.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-init= "somevar = 10">

		<div id="header-wrapper" ng-controller="HeaderCtrl">
			<span class = "logo pull-left">{{appDetails.title}}</span>
			<span class = "tagline pull-left">{{appDetails.tagline}}</span>
			<div class = "nav-wrapper pull-left">
				<ul class="nav nav-pills">
					<li class="active"><a href="#">Books</a></li>
					<li><a href="#">Cart</a></li>
				</ul>
			</div>
		</div>
		<div id="bookListWrapper" ng-controller="BookListCtrl">
			<form role="form">
				<input type="text" class="form-control" placeholder="Search.."/>
			</form>

			<div/>
			<ul class="list-unstyled">
				<li class="book" style="background: white url(imgs/{{book.imgUrl}}) no-repeat" ng-repeat="book in books">
					<div class="book-details clearfix">
						<h3>{{book.name}}</h3>
						<p>{{book.price}}</p>
						<ul class="list-unstyled list-inline">
							<li>{{book.rating}} </li>
							<li>{{book.binding}} </li>
							<li>{{book.publisher}} </li>
							<li>{{book.releaseDate}}</li>
						</ul>
						<p>{{book.details}}</p>
						<button class="btn btn-info pull-right" ng-click="addToCart(book)">Add to Cart</button>
					</div>
				</li>
			</ul>
		</div>


</body>
</html>
